body {
	width:90%;
	margin:auto;
	position:relative;
}

/* HEADER */
#header {
	border: 0px;
	padding: 0px;
	height: 85px;
	background-color: white;
}

#headerleft {
	/* background-image: url(../img/BandeauM2M.jpg); */
	background-position: left bottom;
	background-repeat: no-repeat;
	border: 0px;
	padding: 0px;
	height: 85px;
	width:400px;
	float: left;
}

#headerright {
	border: 0px;
	padding-top: 40px;
	width: 220px;
	float: right;
	text-align: right;
}
#logo {
	border: 0px;
	padding: 10px;
	width: 130px;
	float: left;
}
.headerinfo {
	position:absolute;
	top:15px;
	float:left;
	vertical-align:bottom;
	margin-left:220px;
	font-style: italic;
	color: #999;
	height: 50px;
	vertical-align: bottom;	
}

/* BODY */
.body {
	margin-left: 0px;
	padding-left: 0px;
	margin-right: 0px;
	padding-right: 0px;
	padding-top: 30px;
	padding-bottom: 30px;
	height: 80%;
}

.body H1{
	text-align: right;
	margin:0px;
	padding:0px;
	font-style: italic;
	font-size: 1.2em;
}

.body form{
	margin:0px;
	padding:0px;
}

.body label{
	color: #666;
}

.columnForm{
	width: 50%;
}

.footer{
	font-style: italic;
	color: #666;
}

.imgHome{
	background-image : url(../img/imgAccueil.jpg);
	width : 100px;
	height : 100px;
	border: 1px solid silver;
	margin: auto;	
}

.info{
	text-align: left;
	margin:0px;
	padding:0px;
	font-size: 1.1em;
	font-weight: bold;	
	color: #333;
}

.actionButtons {
	padding-left: 1px;
}

.actionButtons select {
	margin: 5px 5px 5px 0;
	vertical-align: bottom;
}