.github
.gitignore
.gitattributes
.dockerignore
.travis.yml
Dockerfile
docker-compose.*
.devcontainer
.project
*.iml
.idea
.settings
bin/
libs/
**/.settings/
**/.factorypath
**/.project
**/.classpath
**/target/
**/out/artifacts/**
.vscode
