# Created by .ignore support plugin (hsz.mobi)
*.iml
/.idea/
/libs/
/.settings/
.idea
/.project
**/.settings/
**/.factorypath
**/.project
**/.classpath
**/target/
/bin/
**/out/artifacts/**

src/test/apiTests/postman/bin/newman/newman-run-report-*
src/test/apiTests/postman/bin/package-lock.json
src/test/apiTests/postman/conf/**