language: java

os: linux
dist: bionic
jdk: openjdk11

cache:
  directories:
  - "$HOME/.m2"

services:
  - docker

branches:
  only:
  - master
  - develop
  # regular expressions for tag name
  - /\d+\.\d+(\.\d+)?(-\S*)?$/

env:
  global:
  # To enable BuildKit, set the DOCKER_BUILDKIT environment variable to 1
  - DOCKER_BUILDKIT=1

  # get all the branches referencing this commit
  #- REAL_BRANCH=$(git ls-remote origin | sed -n "\|$TRAVIS_COMMIT\s\+refs/heads/|{s///p}")

  # or check if we are on a particular branch:
  #- IS_RELEASE=$(git ls-remote origin | grep "$TRAVIS_COMMIT\s\+refs/heads/release$"


before_install:
  #- export BRANCH=$(if [ "$TRAVIS_PULL_REQUEST" == "false" ]; then echo $TRAVIS_BRANCH; else echo $TRAVIS_PULL_REQUEST_BRANCH; fi)
  - echo "TRAVIS_BRANCH=${TRAVIS_BRANCH}, TAG=${TRAVIS_TAG} !!!"

  - |
    if [ "${TRAVIS_BRANCH}" == "master" ]; then
      export DOCKER_IMAGE_TAG="dev-latest"
    else
      export DOCKER_IMAGE_TAG="${TRAVIS_BRANCH//[ \/]/-}"
    fi
    echo "DOCKER_IMAGE_TAG=${DOCKER_IMAGE_TAG}"

  - |
    echo "Checking if a CI run is needed post commit: ${TRAVIS_COMMIT_RANGE}"
    if ! git diff --name-only ${TRAVIS_COMMIT_RANGE} | grep -qvE '(\.md$)|(\.png$)|(\.pdf$)|(\.html$)|^(LICENSE)|^(docs)/'
    then
      if [ -z "${TRAVIS_TAG}" ]; then
        echo "Only doc files were updated, not running the CI."
        exit
      fi
    fi

  # Install the latest Docker version (>= 19.03) in order to use BuildKit
  - curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo apt-key add -
  - sudo add-apt-repository "deb [arch=amd64] https://download.docker.com/linux/ubuntu $(lsb_release -cs) stable"
  - sudo apt-get update
  - sudo apt-get -y -o Dpkg::Options::="--force-confnew" install docker-ce
  - docker version


# This skips the automatic installation of maven dependency libraries by travis.
# This would save the building time.
install: skip


before_script:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin

  # Pull the necessary docker images in advance
  - docker pull neo4j:3.5.13
  - docker pull openjdk:11.0.7-jdk-slim-buster
  - if docker pull manaty/neo4j-meveo:${DOCKER_IMAGE_TAG} > /dev/null; then echo "neo4j pulled up"; fi
  - if docker pull manaty/wildfly-meveo:${DOCKER_IMAGE_TAG} > /dev/null; then echo "meveo pulled up"; fi


script:
  - set -e

  # Packaging meveo.war file
  - mvn clean package -Dscm.url="scm:git:ssh://git@github.com:meveo-org/meveo.git" -DskipTests

  # Copy dbchangelog and meveo.war files into the docker image folder for meveo
  - cp -r meveo-model/src/main/db_resources/changelog docker/configs/db_resources/
  - cp meveo.sql meveo-admin/web/target/meveo.war docker/

  # Build a neo4j image for meveo environment
  - docker build
    --cache-from manaty/neo4j-meveo:${DOCKER_IMAGE_TAG}
    --tag manaty/neo4j-meveo:${DOCKER_IMAGE_TAG}
    --build-arg BUILDKIT_INLINE_CACHE=1
    -f docker/Dockerfile.neo4j ./docker

  # Build a meveo image
  - docker build
    --cache-from manaty/wildfly-meveo:${DOCKER_IMAGE_TAG}
    --tag manaty/wildfly-meveo:${DOCKER_IMAGE_TAG}
    --build-arg BUILDKIT_INLINE_CACHE=1
    -f docker/Dockerfile ./docker


after_success:
  - docker push manaty/neo4j-meveo:${DOCKER_IMAGE_TAG}
  - docker push manaty/wildfly-meveo:${DOCKER_IMAGE_TAG}
  - |
    if [ ! -z "${TRAVIS_TAG}" ]; then
      docker tag manaty/neo4j-meveo:${DOCKER_IMAGE_TAG} manaty/neo4j-meveo:${TRAVIS_TAG}
      docker push manaty/neo4j-meveo:${TRAVIS_TAG}
      docker tag manaty/wildfly-meveo:${DOCKER_IMAGE_TAG} manaty/wildfly-meveo:${TRAVIS_TAG}
      docker push manaty/wildfly-meveo:${TRAVIS_TAG}
    fi
