language: java

os: linux
dist: xenial
jdk: openjdk8

cache:
  directories:
  - "$HOME/.m2"

services:
  - docker

env:
  global:
  - SCM="scm:git:ssh://git@github.com:anaxdev/meveo.git"
  - POSTGRES_IMG="postgres:9.5.21"
  - POSTGRES_ADDR="localhost"
  - POSTGRES_DB="meveo"
  - POSTGRES_USER="meveo"
  - POSTGRES_PASSWORD="meveo"
  - POSTGRES_TMP_CONTAINER_NAME="postgres_tmp_meveo"
  - DOCKER_IMAGE_TAG="dev-latest-github"

before_install:
  - docker pull ${POSTGRES_IMG}
  - docker pull manaty/postgres-meveo:${DOCKER_IMAGE_TAG}
  - docker pull manaty/wildfly-meveo:${DOCKER_IMAGE_TAG}
  # Start the postgres container to create DB schemas
  - docker run -d -p 5432:5432
    --name ${POSTGRES_TMP_CONTAINER_NAME}
    -e POSTGRES_DB=${POSTGRES_DB}
    -e POSTGRES_USER=${POSTGRES_USER}
    -e POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    ${POSTGRES_IMG}

# This skip the automatic installation of maven dependency libraries by travis.
# This would save the building time.
install: skip

before_script:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin

script:
  - set -e

  # Wait with timeout 30s until postgres is up
  - |
    timeout=30
    counter=0
    until docker exec -i ${POSTGRES_TMP_CONTAINER_NAME} /usr/bin/pg_isready -h localhost -p 5432
    do
      if [ $counter -gt $timeout ]; then
        echo "ERROR: timeout occurred after waiting $timeout seconds for postgres"
        exit 1
      else
        echo "Waiting for postgres ..."
        counter=$((counter+1))
        sleep 1
      fi
    done
    echo "postgres is up"

  # Creating the database schema
  - cd meveo-model &&
    mvn liquibase:dropAll
      liquibase:update
      -Ddb.url=jdbc:postgresql://${POSTGRES_ADDR}/${POSTGRES_DB}
      -Ddb.username=${POSTGRES_USER}
      -Ddb.password=${POSTGRES_PASSWORD}
      -Prebuild

  # Packaging meveo.war file
  - cd .. && mvn clean package -Dscm.url=${SCM} -DskipTests

  # Dump the database schema
  - docker exec -i ${POSTGRES_TMP_CONTAINER_NAME} pg_dump --no-owner -U ${POSTGRES_USER} ${POSTGRES_DB} > meveo.sql

  # copy meveo.sql and meveo.war files into the docker image folder for meveo
  - cp meveo.sql meveo-admin/web/target/meveo.war docker/

  # build a postgres image for meveo environment
  - docker build -t manaty/postgres-meveo:${DOCKER_IMAGE_TAG} -f docker/Dockerfile.postgres ./docker

  # build a meveo image
  - docker build -t manaty/wildfly-meveo:${DOCKER_IMAGE_TAG} -f docker/Dockerfile ./docker

after_success:
  - |
    if [ ${TRAVIS_PULL_REQUEST} == "false" ]; then
      echo "Push docker images"
      docker push manaty/postgres-meveo:${DOCKER_IMAGE_TAG}
      docker push manaty/wildfly-meveo:${DOCKER_IMAGE_TAG}
    fi