<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
  version="3.1">
  <module-name>meveo</module-name>
  <display-name>Meveo Admin</display-name>
  <context-param>
    <param-name>pageAccessFile</param-name>
    <param-value>/WEB-INF/page-access.xml</param-value>
  </context-param>
  <context-param>
    <param-name>javax.faces.FACELETS_BUFFER_SIZE</param-name>
    <param-value>65535</param-value>
  </context-param>
  <context-param>
    <param-name>javax.faces.FACELETS_REFRESH_PERIOD</param-name>
    <param-value>2</param-value>
  </context-param>
  <context-param>
    <param-name>javax.faces.FACELETS_LIBRARIES</param-name>
    <param-value>/taglib/happyfaces.taglib.xml;/taglib/primefacesextension.taglib.xml</param-value>
  </context-param>
  <context-param>
    <param-name>javax.faces.DATETIMECONVERTER_DEFAULT_TIMEZONE_IS_SYSTEM_TIMEZONE</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <param-name>javax.faces.FACELETS_SKIP_COMMENTS</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <param-name>javax.faces.INTERPRET_EMPTY_STRING_SUBMITTED_VALUES_AS_NULL</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <param-name>primefaces.FONT_AWESOME</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <param-name>primefaces.MOVE_SCRIPTS_TO_BOTTOM</param-name>
    <param-value>true</param-value>
  </context-param>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>60</session-timeout>
  </session-config>
  <filter>
    <filter-name>PrimeFaces FileUpload Filter</filter-name>
    <filter-class>org.primefaces.webapp.filter.FileUploadFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>PrimeFaces FileUpload Filter</filter-name>
    <servlet-name>Faces Servlet</servlet-name>
  </filter-mapping>
  <filter>
    <filter-name>facesExceptionFilter</filter-name>
    <filter-class>org.omnifaces.filter.FacesExceptionFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>facesExceptionFilter</filter-name>
    <servlet-name>Faces Servlet</servlet-name>
  </filter-mapping>
  <filter>
    <filter-name>noCache</filter-name>
    <filter-class>org.omnifaces.filter.CacheControlFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>noCache</filter-name>
    <servlet-name>Faces Servlet</servlet-name>
  </filter-mapping>
  <mime-mapping>
    <extension>eot</extension>
    <mime-type>application/vnd.ms-fontobject</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>otf</extension>
    <mime-type>font/opentype</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>ttf</extension>
    <mime-type>application/x-font-ttf</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>woff</extension>
    <mime-type>application/x-font-woff</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>woff2</extension>
    <mime-type>application/x-font-woff2</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>svg</extension>
    <mime-type>image/svg+xml</mime-type>
  </mime-mapping>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>AdminPages</web-resource-name>
      <url-pattern>/pages/*</url-pattern>
    </web-resource-collection>
    <web-resource-collection>
      <web-resource-name>HomePage</web-resource-name>
      <url-pattern>/home.jsf</url-pattern>
    </web-resource-collection>
    <web-resource-collection>
      <web-resource-name>HomePage</web-resource-name>
      <url-pattern>/home.xhtml</url-pattern>
    </web-resource-collection>
    <web-resource-collection>
      <web-resource-name>IndexPage</web-resource-name>
      <url-pattern>/mm_index.jsf</url-pattern>
    </web-resource-collection>
    <web-resource-collection>
      <web-resource-name>IndexPage</web-resource-name>
      <url-pattern>/mm_index.xhtml</url-pattern>
    </web-resource-collection>
    <web-resource-collection>
      <web-resource-name>IndexPage</web-resource-name>
      <url-pattern>/index.jsf</url-pattern>
    </web-resource-collection>
    <web-resource-collection>
      <web-resource-name>IndexPage</web-resource-name>
      <url-pattern>/index.xhtml</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>guiAccess</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>RS</web-resource-name>
      <url-pattern>/api/rest/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>apiAccess</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>AccountWS</web-resource-name>
      <url-pattern>/AccountWs</url-pattern>
      <http-method>POST</http-method>
    </web-resource-collection>
    <web-resource-collection>
      <web-resource-name>Catalog4_1Ws</web-resource-name>
      <url-pattern>/Catalog4_1Ws</url-pattern>
      <http-method>POST</http-method>
    </web-resource-collection>
    <web-resource-collection>
      <web-resource-name>CatalogWs</web-resource-name>
      <url-pattern>/CatalogWs</url-pattern>
      <http-method>POST</http-method>
    </web-resource-collection>
    <web-resource-collection>
      <web-resource-name>CommunicationWs</web-resource-name>
      <url-pattern>/CommunicationWs</url-pattern>
      <http-method>POST</http-method>
    </web-resource-collection>
    <web-resource-collection>
      <web-resource-name>EntityCustomizationWs</web-resource-name>
      <url-pattern>/EntityCustomizationWs</url-pattern>
      <http-method>POST</http-method>
    </web-resource-collection>
    <web-resource-collection>
      <web-resource-name>FilteredList4_3Ws</web-resource-name>
      <url-pattern>/FilteredList4_3Ws</url-pattern>
      <http-method>POST</http-method>
    </web-resource-collection>
    <web-resource-collection>
      <web-resource-name>FilteredListWs</web-resource-name>
      <url-pattern>/FilteredListWs</url-pattern>
      <http-method>POST</http-method>
    </web-resource-collection>
    <web-resource-collection>
      <web-resource-name>FilterWs</web-resource-name>
      <url-pattern>/FilterWs</url-pattern>
      <http-method>POST</http-method>
    </web-resource-collection>
    <web-resource-collection>
      <web-resource-name>FinanceWs</web-resource-name>
      <url-pattern>/FinanceWs</url-pattern>
      <http-method>POST</http-method>
    </web-resource-collection>
    <web-resource-collection>
      <web-resource-name>Invoice4_2Ws</web-resource-name>
      <url-pattern>/Invoice4_2Ws</url-pattern>
      <http-method>POST</http-method>
    </web-resource-collection>
    <web-resource-collection>
      <web-resource-name>InvoiceWs</web-resource-name>
      <url-pattern>/InvoiceWs</url-pattern>
      <http-method>POST</http-method>
    </web-resource-collection>
    <web-resource-collection>
      <web-resource-name>InvoicingWs</web-resource-name>
      <url-pattern>/InvoicingWs</url-pattern>
      <http-method>POST</http-method>
    </web-resource-collection>
    <web-resource-collection>
      <web-resource-name>JobWs</web-resource-name>
      <url-pattern>/JobWs</url-pattern>
      <http-method>POST</http-method>
    </web-resource-collection>
    <web-resource-collection>
      <web-resource-name>MediationWs</web-resource-name>
      <url-pattern>/MediationWs</url-pattern>
      <http-method>POST</http-method>
    </web-resource-collection>
    <web-resource-collection>
      <web-resource-name>ModuleWs</web-resource-name>
      <url-pattern>/ModuleWs</url-pattern>
      <http-method>POST</http-method>
    </web-resource-collection>
    <web-resource-collection>
      <web-resource-name>NotificationWs</web-resource-name>
      <url-pattern>/NotificationWs</url-pattern>
      <http-method>POST</http-method>
    </web-resource-collection>
    <web-resource-collection>
      <web-resource-name>PaymentWs</web-resource-name>
      <url-pattern>/PaymentWs</url-pattern>
      <http-method>POST</http-method>
    </web-resource-collection>
    <web-resource-collection>
      <web-resource-name>ReportingWs</web-resource-name>
      <url-pattern>/ReportingWs</url-pattern>
      <http-method>POST</http-method>
    </web-resource-collection>
    <web-resource-collection>
      <web-resource-name>ScriptInstanceWs</web-resource-name>
      <url-pattern>/ScriptInstanceWs</url-pattern>
      <http-method>POST</http-method>
    </web-resource-collection>
    <web-resource-collection>
      <web-resource-name>SettingsWs</web-resource-name>
      <url-pattern>/SettingsWs</url-pattern>
      <http-method>POST</http-method>
    </web-resource-collection>
    <web-resource-collection>
      <web-resource-name>SubscriptionWs</web-resource-name>
      <url-pattern>/SubscriptionWs</url-pattern>
      <http-method>POST</http-method>
    </web-resource-collection>
    <web-resource-collection>
      <web-resource-name>SuperAdminSettingsWs</web-resource-name>
      <url-pattern>/SuperAdminSettingsWs</url-pattern>
      <http-method>POST</http-method>
    </web-resource-collection>
    <web-resource-collection>
      <web-resource-name>UsageWs</web-resource-name>
      <url-pattern>/UsageWs</url-pattern>
      <http-method>POST</http-method>
    </web-resource-collection>
    <web-resource-collection>
      <web-resource-name>WalletWs</web-resource-name>
      <url-pattern>/WalletWs</url-pattern>
      <http-method>POST</http-method>
    </web-resource-collection>
    <web-resource-collection>
      <web-resource-name>WorkflowWs</web-resource-name>
      <url-pattern>/WorkflowWs</url-pattern>
      <http-method>POST</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>apiAccess</role-name>
    </auth-constraint>
  </security-constraint>
  <login-config>
    <auth-method>KEYCLOAK</auth-method>
    <realm-name>meveo</realm-name>
  </login-config>
  <security-role>
    <role-name>apiAccess</role-name>
  </security-role>
  <security-role>
    <role-name>guiAccess</role-name>
  </security-role>
  <error-page>
    <exception-type>javax.el.ELException</exception-type>
    <location>/errors/elexception.xhtml</location>
  </error-page>
  <error-page>
    <exception-type>org.meveo.elresolver.ELException</exception-type>
    <location>/errors/elexception.xhtml</location>
  </error-page>
  <error-page>
    <exception-type>javax.faces.application.ViewExpiredException</exception-type>
    <location>/errors/expired.xhtml</location>
  </error-page>
  <error-page>
    <exception-type>javax.enterprise.context.NonexistentConversationException</exception-type>
    <location>/errors/expired.xhtml</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/errors/403.xhtml</location>
  </error-page>
  <error-page>
    <error-code>401</error-code>
    <location>/errors/403.xhtml</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/errors/404.xhtml</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/errors/500.xhtml</location>
  </error-page>
<!--  <error-page>-->
<!--    <exception-type>java.lang.Exception</exception-type>-->
<!--    <location>/errors/500.xhtml</location>-->
<!--  </error-page>-->
</web-app>