    ------
    Building a project
    ------    
    ------
   
Prerequisites

    To build a project you should have the following installed:
        
        * Java v1.5+
        
        * Maven v2.2.1+
        
        * Android SDK v.1.5+


    To make a release you should also have the following installed:
    
        * SVN client
        
        
Terms used:

    [SVN UserName] username to login to SVN repository
    
    [SVN Password] password to login to SVN repository

Building a project


* To buid a project and deploy to local repository

    Run the following command from the command line in project's root directory.\
    A packaged ".jar" file will be deployed to your local Maven repository (~/.m2/...). 
    It will not be accessible to anybody else.
    
----
mvn clean install
----

* To build a SNAPSHOT project and deploy to ITX repository

    Run the following command from the command line in project's root directory.\
    A packaged ".jar" file will be deployed to your local Maven repository (~/.m2/...) and ITX Maven repository. 
    It will be accessible to everybody else with access to ITX Maven repository.
        
----
mvn clean deploy
----

* To build a RELEASE project and deploy to ITX repository

    Run the following command from the command line in project's root directory.\
    A packaged ".jar" file will be deployed to your local Maven repository (~/.m2/...) and ITX Maven repository. 
    It will be accessible to everybody else with access to ITX Maven repository.
        
    As part of release project will be taged in SVN with a release version number and a site will be published to {{{${project.url} }${project.url}}}. 
    You will be asked to provide a release version number, a new snapshot version number and a tag for SVN repository (you will be suggested default values)    
    
    Note: Make sure you have the everything commited to SVN
    
----
mvn release:prepare -Dusername=<SVN UserName> -Dpassword=<SVN Password>
mvn release:perform -Dusername=<SVN UserName> -Dpassword=<SVN Password> -Prelease
----
