    ------
    Creating a project structure for a custom Mobility CMS application for Android
    ------
    ------
    

Prerequisites

    Mobility CMS Maven Plugin has to be deployed to a local or ITX repository. See {{{./building.html}Building}}.


Terms used:

    [Short App Name] short application name, also used as part of activity name and in general to distinguish one application from another
    
    [Full App Name] full application name, used as title in application screens and as application name in a list of applications
      
    [Content Server Name] a name of a server providing content for the application. Use "mobilitycmsdnn.itxtest.net" for development or "mobilitycms.com" for production Mobility CMS server
    
    [Base App Version] a version of a base/generic MobilityCMS application for Android
    
    [Disclaimer Visibility] visibility of disclaimer. Allowed values: YES and NO

    [Disclaimer Type] type of disclaimer. Use "mNeutral" for neutral, "mEducator" for educator and "mExpert" for expert
    
    [Background Color 1] background color in screens
    
    [Background Color 2] background color in screen titles
 

Creating a project structure for a custom Mobility CMS application for Android

    Run the following commands from the command line to create a standard project structure.\
    A newly created sub-folder with a name of "mobilitycms-android-<Short App Name>" will contain a complete project structure.   
    
----
mvn archetype:generate -B  -DarchetypeGroupId=net.itx.mobility -DarchetypeArtifactId=mobilitycms-android-archetype
 -DarchetypeVersion=<archetype version (optional)> -DgroupId="NA" -DartifactId=mobilitycms-android-<Short App Name> 
 -DmobilityShortAppName=<Short App Name> -DmobilityFullAppName="<Full App Name>" 
 -DmobilityServerName="<Content Server Name>" -DmobilityBaseAppVersion=<Base App Version>
 -DmobilityDisclaimerVisibility=<Disclaimer Visibility>  -DmobilityDisclaimerType=<Disclaimer Type>
 -DmobilityBackgroundColor=<Background Color 1> -DmobilityBackgroundColorListTitle=<Background Color 2>
----

    Example:

---
mvn archetype:generate -B  -DarchetypeGroupId=net.itx.mobility -DarchetypeArtifactId=mobilitycms-android-archetype
 -DarchetypeVersion=${project.version} -DgroupId="NA" -DartifactId=mobilitycms-android-sampleapp 
 -DmobilityShortAppName=sampleapp -DmobilityFullAppName="Mobility CMS application for sampleapp" 
 -DmobilityServerName="mobilitycmsdnn.itxtest.net" -DmobilityBaseAppVersion=1.1
 -DmobilityDisclaimerVisibility =YES -DmobilityDisclaimerType=mNeutral
 -DmobilityBackgroundColor="#FF000000" -DmobilityBackgroundColorListTitle="#FF000000"
---
