<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="meveo-admin" verbose="2" parallel="false">
	<test name="integration tests">
		<parameter name="datasourceJndiName" value="java:/MeveoDWHDatasource" />
		<parameter name="datasourceJndiName" value="java:/MeveoAdminDatasource" />
		<parameter name="database" value="HSQL" />

		<packages>
			<package name="org.meveo.admin.action" />
			<package name="org.meveo.admin.report" />
			<package name="org.meveo.service" />
		</packages> 
	</test>
</suite>
